{% extends 'base.html.twig' %}

{% block title %}CategoryRhum index{% endblock %}

{% block body %}
    <h1>CategoryRhum index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_rhum in category_rhums %}
            <tr>
                <td>{{ category_rhum.id }}</td>
                <td>{{ category_rhum.nom }}</td>
                <td>
                    <a href="{{ path('category_rhum_show', {'id': category_rhum.id}) }}">show</a>
                    <a href="{{ path('category_rhum_edit', {'id': category_rhum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_rhum_new') }}">Create new</a>
{% endblock %}
