{% extends 'base.html.twig' %}

{% block title %}CategoryRhum{% endblock %}

{% block body %}
    <h1>CategoryRhum</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_rhum.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category_rhum.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_rhum_index') }}">back to list</a>

    <a href="{{ path('category_rhum_edit', {'id': category_rhum.id}) }}">edit</a>

    {{ include('category_rhum/_delete_form.html.twig') }}
{% endblock %}
