{% extends 'base.html.twig' %}
<!--
<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{{ path('article_show', {id: article.id }) }}" class="btn btn-sm  btn-outline-secondary">Lire l'article</a>
    <a href="{{ path('article_update', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Modifier l'article</a>
    <a href="{{ path('article_delete', {id: article.id }) }}" class="btn btn-sm btn-outline-secondary">Supprimer l'article</a>
</div>
-->
{% block title %}Détail rhum{% endblock %}

{% block body %}
   {{ rhum.marque }}
    {{ rhum.type }}

    <!-- a ajouter après création des tables -->
   <!-- <h2>Commentaires</h2>
        {##}% for comment in degustation.commentaires %#}
            <div class="=card">
                <div class="card-body">
                    {#{ comment.content }#}
                </div>
            </div>-->
        {#% endfor %#}
<h2>Ajouter un commentaire</h2>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm) }}
    <input type="submit" value="Publier" class="btn btn-success">
    {{ form_end(commentForm) }}
{% endblock %}