{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

   <h1> {{ article.title }}</h1>
   <p>{{ article.description  }} </p>
   <h2>  liste des commentaires</h2>
   {% for comment in article.comments %}
      <p>{{ comment.content }}</p>
   {% endfor %}
{{ form_start(form) }}
{{ form_widget(form) }}
   <input type="submit">
{{ form_end(form) }}



{% endblock %}
